@page
@model FSD08_AppDev2Project.Pages.AdminModel
@using FSD08_AppDev2Project.Data

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@{
    ViewData["Title"] = "Admin Panel";
}
<div class="text-center mb-2 mt-0" 
style="border-bottom:1px solid rgb(216, 216, 255); background-color:rgb(245, 245, 245); color:rgb(92, 92, 92); text-shadow:1px 1px 2px black;">
    <h1 class="display-3">@ViewData["Title"]</h1>
</div>

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-2 bg-light sidebar">
            <h5> Table Views</h5>
            <hr>
            <div class="d-flex flex-column align-items-start p-3">
                <button class="admin-btn" onclick="toggleTable('companies', this)">Companies</button>
                <div class="d-flex justify-content-between align-items-center" style="width:100%">
                    <button class="admin-btn" style="width:40%" onclick="toggleTable('users', this)">Users</button>
                    <div class="form-group">
                        <select class="form-control" id="roleFilter" onchange="filterUsersByRole()">
                            <option value="">All Roles</option>
                            @foreach (var role in Model.AllRoles)
                            {
                                <option value="@role">@role</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="admin-btn" onclick="toggleTable('jobReviews', this)">Reviews</button>
                    <div class="form-group">
                        <select class="form-control" id="companyFilter" onchange="filterReviewsByCompany()">
                            <option value="">All</option>
                            @foreach (var company in Model.Companys)
                            {
                                <option value="@company.Name">@company.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <button class="admin-btn" onclick="toggleTable('jobs', this)">Show Jobs</button>
            </div>
            <hr>
            <h5>Options</h5>
            <hr>
            <div class="d-flex flex-column align-items-start p-3">
                    <a class="admin-btn" asp-page="AdminAddCompany">Add Company</a>
            </div>
        </div>
        <div class="col-10 " style="overflow-y: auto; max-height: 80vh;">

            <div class="row">
                <div class="col-10 admin-panel" id="companiesTable" style="display: none;">
                    <h2>Companies</h2>
                    <hr>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Country</th>
                                <th>Hiring Managers</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var company in Model.Companys)
                            {
                                <tr>
                                    <td style="vertical-align: middle;">@company.Id</td>
                                    <td style="vertical-align: middle;">@company.Name</td>
                                    <td style="vertical-align: middle;">@company.City</td>
                                    <td style="vertical-align: middle;">@company.State</td>
                                    <td style="vertical-align: middle;">@company.Country</td>
                                    <td style="vertical-align: middle;">
                                        @foreach (var manager in company.HiringManagers)
                                        {
                                            <span>@manager.UserName, </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <br><br>

                <div class="col-10 admin-panel" id="usersTable" style="display: none;">
                    <h2>Users</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                @* <th>Id</th> *@
                                <th>UserName</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Country</th>
                                <th>Zipcode</th>
                                <th>Role</th>
                                <th>Active</th>
                                <th>Company (Hiring Manager)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.ApplicationUsers.OrderBy(u => u.UserName))
                            {
                                <tr>
                                    <td style="vertical-align: middle;">@user.UserName</td>
                                    <td style="vertical-align: middle;">@user.Email</td>
                                    <td style="vertical-align: middle;">@user.City</td>
                                    <td style="vertical-align: middle;">@user.State</td>
                                    <td style="vertical-align: middle;">@user.Country</td>
                                    <td style="vertical-align: middle;">@user.Zipcode</td>
                                    <td style="vertical-align: middle;">
                                        @if (Model.UserRoles.ContainsKey(user.Id) && Model.UserRoles[user.Id].Any())
                                        {
                                            @foreach (var role in Model.UserRoles[user.Id])
                                            {
                                                <a class="admin-table-normal-btn" asp-page="AdminEditUserRole"
                                                    asp-route-id="@user.Id">@role</a>
                                            }
                                        }
                                        else
                                        {
                                            <a class="admin-table-red-btn" asp-page="AdminEditUserRole"
                                                asp-route-id="@user.Id">No Role</a>
                                        }
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <a class="btn @(user.Active ? "btn-success" : "btn-danger")"
                                            asp-page="AdminEditUserActive" asp-route-id="@user.Id">
                                            @(user.Active ? "Yes" : "No")
                                        </a>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        @if (Model.UserRoles.ContainsKey(user.Id) &&
                                       Model.UserRoles[user.Id].Contains("HiringManager"))
                                        {
                                            if (user.CompanyId.HasValue)
                                            {
                                                var company = Model.Companys.FirstOrDefault(c => c.Id == user.CompanyId);
                                                <a class="admin-table-normal-btn" asp-page="AdminAddUserCompany"
                                                    asp-route-id="@user.Id">@((company != null ?
                                        company.Name : "Unknown Company"))</a>
                                            }
                                            else
                                            {
                                                // Display "Add Company" link
                                                <a class="admin-table-red-btn" asp-page="AdminAddUserCompany"
                                                    asp-route-id="@user.Id">Add Company</a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-10 admin-panel" id="jobReviewsTable" style="display: none;">
                    <h2>Reviews</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                @* <th>Id</th> *@
                                <th>Id</th>
                                <th>Company</th>
                                <th>Username</th>
                                <th>Review</th>
                                <th>Stars</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var review in Model.Reviews)
                            {
                                <tr>
                                    <td style="vertical-align: middle;">@review.Id</td>
                                    <td style="vertical-align: middle;">@review.Company.Name</td>
                                    <td style="vertical-align: middle;">@review.User.UserName</td>
                                    <td style="vertical-align: middle;">@review.Reviews</td>
                                    <td style="vertical-align: middle;">@review.Stars</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-10 admin-panel" id="jobsTable" style="display: none;">
                    <h2>Jobs</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>CompanyId</th>
                                <th>Category</th>
                                <th>Title</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var job in Model.Jobs)
                            {
                                <tr>
                                    <td style="vertical-align: middle;">@job.Id</td>
                                    <td style="vertical-align: middle;">@job.JobCompanyId</td>
                                    <td style="vertical-align: middle;">@job.JobCategory</td>
                                    <td style="vertical-align: middle;">@job.JobTitle</td>
                                    <td style="vertical-align: middle;">@job.StartDate</td>
                                    <td style="vertical-align: middle;">@job.EndDate</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleTable(tableName, button) {
        hideAllTables();
        resetButtonStyles();

        document.getElementById(`${tableName}Table`).style.display = 'block';
        button.classList.add('clicked');
    }

    function resetButtonStyles() {
        var buttons = document.querySelectorAll('.admin-btn');
        buttons.forEach(function (button) {
            button.classList.remove('clicked');
        });
    }

    function hideAllTables() {
        document.getElementById('companiesTable').style.display = 'none';
        document.getElementById('usersTable').style.display = 'none';
        document.getElementById('jobReviewsTable').style.display = 'none';
        document.getElementById('jobsTable').style.display = 'none';
    }

    function filterReviewsByCompany() {
        var selectedCompany = document.getElementById('companyFilter').value;
        var rows = document.getElementById('jobReviewsTable').getElementsByTagName('tbody')[0].getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var companyName = rows[i].getElementsByTagName('td')[1].innerText;
            if (selectedCompany === '' || companyName === selectedCompany) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    }

    function filterUsersByRole() {
        var selectedRole = document.getElementById('roleFilter').value;
        var rows = document.getElementById('usersTable').getElementsByTagName('tbody')[0].getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var roles = rows[i].getElementsByTagName('td')[6].innerText;
            if (selectedRole === '' || roles.includes(selectedRole)) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    }
</script>
