@page
@model FSD08_AppDev2Project.Pages.CompanyReviewsModel
@{
    ViewData["Title"] = "Company Reviews";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <form method="post" asp-page-handler="GiveReview">
            <div class="d-grid gap-2 col-6 mx-auto mb-2">
                <button class="btn btn-primary" type="submit">Give Company review</button>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <form method="post" asp-page-handler="SelectedCompanyReview">
            <div class="form-group">
                <label for="companyDropdown">Select a Company:</label>
                <select id="companyDropdown" asp-for="SelectedCompanyId" class="form-control"
                    asp-items="new SelectList(Model.Companys, nameof(FSD08_AppDev2Project.Models.Company.Id), nameof(FSD08_AppDev2Project.Models.Company.Name))">
                    <option value="">Select Company</option>
                </select>
            </div>
            <div class="form-group">

                <button type="submit" class="btn btn-primary mt-2">Get Review</button>


            </div>
        </form>
    </div>
    <div class="col-md-6" style="max-width: 50rem;">
        <div class="card-body" style="max-height:40rem;overflow-y: auto;">
            <ul>
                @if (Model.SelectedCompanyId != null)
                {
                    @if(Model.aveRating > 0){
                        <div>Average Reating: @Model.aveRating </div>
                    }
                    foreach (var review in Model.Reviews)
                    {
                        <div class="card text-dark bg-light mb-3 customborder">
                            <div class="card-header">@review.Company.Name</div>
                            <div class="card-body">
                                <p>@Html.Raw(@review.Reviews)</p>
                            </div>

                            <div class="card-footer bg-transparent border-light">
                                <span style="font-size:22px; text-shadow:1px 1px 1px rgb(75, 65, 9), -1px -1px 1px rgb(122, 109, 25); color:gold;">@Model.GetStarRatingAscii(review.Stars)</span>
                            </div>
                        </div>
                    }
                }
            </ul>
        </div>
    </div>
</div>
</div>
