@page
@model FSD08_AppDev2Project.Pages.CompanyReviewsModel
@{
    ViewData["Title"] = "Company Reviews";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
                        <ul>
                @for(var index = 0 ; index < Model.companysModel.Count(); index++)
                {
                    var companyModel = Model.companysModel[index];
                    <div class="card text-dark bg-light mb-3 customborder" style="max-width: 30rem;"
                        onclick="showCompanyDetails(@companyModel.Company.Id, @companyModel.aveRating)">
                        <div class="card-header">
                            <h3 class="card-title">Company Name:</h3>
                            <h5 class="card-title">@companyModel.Company.Name</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Country:</h5>
                            <div class="card-title">@companyModel.Company.Country</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">State:</h5>
                            <div class="card-title">@companyModel.Company.State</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">City:</h5>
                            <div class="card-title">@companyModel.Company.City</div>
                        </div>
                        @if  (@companyModel.aveRating > -1){
                        <div id="AveRating" class="card-body" >
                            <h5 class="card-title">Average: @companyModel.aveRating</h5>
                        </div>
                         }
                    </div>
                    @* <div><h5>Comment(s):</h5></div>
                    @for(var rIndex = 0 ; rIndex < companyModel.Reviews.Count(); rIndex++){
                        <div>@companyModel.Reviews[rIndex].Reviews </div>
                    }
                    <br> *@
                }
            </ul>
        </div>
        <div class="col-md-6" id="detailsContainer" style="display: none;">
            <div class="card text-dark bg-light mb-3 customborder" style="max-width: 45rem;max-height:50rem;">
                <form method="post" id="applyNowForm" asp-page-handler="HandleCompanyId">
                    <input type="hidden" id="selectedCompanyId" name="selectedCompanyId" value="" />
                    <h5 class="card-header"></h5>
                    <div class="card-body" style="max-height:35rem;overflow-y: auto;">
                        <p class="card-title1"></p>
                        <p class="card-title2"></p>
                        <p class="card-title3"></p>
                    </div>
                    <textarea id="commentBox" name="commentBox" rows="4" cols="50"></textarea>
                    <div class="text-center">
                        <button type="submit" id="btnComment" class="btn btn-primary">Submit Comment</button>
                    </div>
                    <div><h5>Comment(s):</h5></div>
                       <div id="Comments"></div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showCompanyDetails(companyId, rating) {
         debugger;
        
        while (document.getElementById('Comments').hasChildNodes())
            document.getElementById('Comments').removeChild(document.getElementById('Comments').lastChild);
        
        var companysModel = @Html.Raw(Json.Serialize(Model.companysModel));
        var companyModel = companysModel.find(obj => obj.company.id === companyId);

        if (companyModel) {
            document.getElementById('detailsContainer').style.display = 'block';

            document.getElementById('detailsContainer').querySelector('.card-header').innerText = companyModel.company.name;
            document.getElementById('detailsContainer').querySelector('.card-title1').innerText =companyModel.company.country;
            document.getElementById('detailsContainer').querySelector('.card-title2').innerHTML = companyModel.company.state;
            document.getElementById('detailsContainer').querySelector('.card-title3').innerHTML = companyModel.company.city;
            for(var r of companyModel.reviews){
                var review = document.createElement('div');
                review.textContent = r.reviews;
                document.getElementById('Comments').appendChild(review);
                }
        }     
    }
</script>