@page
@model FSD08_AppDev2Project.Pages.UserProfileModel
@{
    ViewData["Title"] = "Your Profile";
}

<div class="user-profile">
    <div class="row">
        <div class="offset-2 col-8">
            <div class="profile-header">
                <div class="container d-flex justify-content-between align-items-center">
                    <div class="profile-name">@Model.ApplicationUser.UserName</div>
                    <div class="profile-image">JD</div>
                </div>
            </div>
            <div class="contact-info-user my-3">
                <div class="contact-info">
                    <div>Email: @Model.ApplicationUser.Email</div>
                    <div>Phone: @Model.ApplicationUser.PhoneNumber</div>
                    <div>City: @Model.ApplicationUser.City</div>
                    <div>State: @Model.ApplicationUser.State</div>
                    <div>Country: @Model.ApplicationUser.Country</div>
                    <div>Zipcode: @Model.ApplicationUser.Zipcode</div>
                </div>
            </div>
            <h3>Resume</h3>
            <div class="profile-panel container d-flex justify-content-before align-items-center">
                <div class="pdf-icon">PDF</div>
                <div class="mx-3">
                    <div>jdoe-resume.pdf</div>
                    <div>Added Oct 24, 2023</div>
                    <div>Click to view</div>
                </div>
            </div>
            <br>

            @* Added in section to display all jobs the user has applied to *@
            <h3>Jobs Applied To</h3>
            <div class="profile-panel container d-flex justify-content-before align-items-center">
                <div class="mx-3">
                    @foreach (var appliedJob in Model.AppliedJobs)
                    {
                        <div>
                            <p>
                                <strong>@appliedJob.Job.JobTitle</strong> at
                                @Model.GetCompanyName(appliedJob.Job.JobCompanyId)
                            </p>
                        </div>
                    }
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
